{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.js-modal').on("click", function () {
                $('.js-modal-content').html($(this).data('note'));
            });
        });
    </script>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Akce</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Poznámka</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>
                    <a href="{{ path('contact_detail', {'slug': contact.slug }) }}">Upravit</a>
                </td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <button type="button" class="btn btn-primary js-modal" data-note="{{ contact.note }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Poznámka
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(contacts) }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body js-modal-content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
